parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/books_activity/books_activity.module

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: web/modules/custom/books_activity/books_activity.module

		-
			message: "#^Function books_activity_node_presave\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_activity/books_activity.module

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$title\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Controller/ActivityController.php

		-
			message: "#^Access to an undefined property Drupal\\\\node\\\\NodeInterface\\:\\:\\$field_status\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Controller/ActivityController.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Controller\\\\ActivityController\\:\\:abandon\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Controller/ActivityController.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Controller\\\\ActivityController\\:\\:finish\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Controller/ActivityController.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Controller\\\\ActivityController\\:\\:getStatusByName\\(\\) should return int\\|null but returns string\\|false\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Controller/ActivityController.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Controller\\\\ActivityController\\:\\:new\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Controller/ActivityController.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Plugin/ExtraField/Display/BookCover.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Plugin\\\\ExtraField\\\\Display\\\\BookCover\\:\\:__construct\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Plugin/ExtraField/Display/BookCover.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Plugin\\\\ExtraField\\\\Display\\\\BookCover\\:\\:create\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Plugin/ExtraField/Display/BookCover.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Plugin\\\\ExtraField\\\\Display\\\\BookCover\\:\\:defaultExtraFieldSettings\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Plugin/ExtraField/Display/BookCover.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Plugin\\\\ExtraField\\\\Display\\\\BookCover\\:\\:extraFieldSettingsForm\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Plugin/ExtraField/Display/BookCover.php

		-
			message: "#^Method Drupal\\\\books_activity\\\\Plugin\\\\ExtraField\\\\Display\\\\BookCover\\:\\:view\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_activity/src/Plugin/ExtraField/Display/BookCover.php

		-
			message: "#^Function books_catalog_entity_bundle_field_info_alter\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_catalog/books_catalog.module

		-
			message: "#^Function books_catalog_entity_bundle_field_info_alter\\(\\) has parameter \\$bundle with no type specified\\.$#"
			count: 1
			path: web/modules/custom/books_catalog/books_catalog.module

		-
			message: "#^Function books_catalog_entity_bundle_field_info_alter\\(\\) has parameter \\$fields with no type specified\\.$#"
			count: 1
			path: web/modules/custom/books_catalog/books_catalog.module

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Commands\\\\BooksHardcoverCommands\\:\\:updateCover\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Commands/BooksHardcoverCommands.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:buildForm\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:buildForm\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:create\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:mergeBookData\\(\\) has parameter \\$array1 with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:mergeBookData\\(\\) has parameter \\$array2 with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:mergeBookData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:submitForm\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:submitForm\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:validateForm\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\AddBookForm\\:\\:validateForm\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/AddBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:create\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:buildForm\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:buildForm\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:submitForm\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:submitForm\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:updateBookProcess\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:updateBookProcess\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:updateBookFinished\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:updateBookFinished\\(\\) has parameter \\$operations with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Method Drupal\\\\books_hardcover\\\\Form\\\\UpdateBookForm\\:\\:updateBookFinished\\(\\) has parameter \\$results with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_hardcover/src/Form/UpdateBookForm.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:set\\(\\)\\.$#"
			count: 7
			path: web/modules/custom/books_catalog/src/Services/BookService.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:setTitle\\(\\)\\.$#"
			count: 2
			path: web/modules/custom/books_catalog/src/Services/BookService.php

		-
			message: "#^Method Drupal\\\\books_catalog\\\\Services\\\\BookService\\:\\:getBooksMissingCover\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_catalog/src/Services/BookService.php

		-
			message: "#^Method Drupal\\\\books_catalog\\\\Services\\\\BookService\\:\\:saveBookData\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/modules/custom/books_catalog/src/Services/BookService.php

		-
			message: "#^Trying to mock an undefined method set\\(\\) on class Drupal\\\\Core\\\\Entity\\\\EntityInterface\\.$#"
			count: 1
			path: web/modules/custom/books_catalog/tests/src/Unit/Services/BookServiceTest.php

		-
			message: "#^Trying to mock an undefined method set\\(\\) on class Drupal\\\\Core\\\\Entity\\\\EntityInterface\\.$#"
			count: 1
			path: web/modules/custom/books_cover/tests/src/Unit/Services/CoverDownloadServiceTest.php

		-
			message: "#^Function books_preprocess_html\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_preprocess_html\\(\\) has parameter \\$variables with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_preprocess_image_widget\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_preprocess_image_widget\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_form_alter\\(\\) has parameter \\$suggestions with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_form_alter\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_form_element_alter\\(\\) has parameter \\$suggestions with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_form_element_alter\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_form_element_label_alter\\(\\) has parameter \\$suggestions with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_form_element_label_alter\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_input_alter\\(\\) has parameter \\$suggestions with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_input_alter\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_taxonomy_term_alter\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_taxonomy_term_alter\\(\\) has parameter \\$suggestions with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_taxonomy_term_alter\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_views_view_unformatted_alter\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_views_view_unformatted_alter\\(\\) has parameter \\$suggestions with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Function books_theme_suggestions_views_view_unformatted_alter\\(\\) has parameter \\$variables with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/books.theme

		-
			message: "#^Method Flatted\\:\\:asString\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:asString\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:index\\(\\) has parameter \\$input with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:index\\(\\) has parameter \\$known with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:index\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:keys\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:keys\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:loop\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:loop\\(\\) has parameter \\$input with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:loop\\(\\) has parameter \\$keys with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:loop\\(\\) has parameter \\$obj with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:loop\\(\\) has parameter \\$output with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:loop\\(\\) has parameter \\$set with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:parse\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:parse\\(\\) has parameter \\$assoc with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:parse\\(\\) has parameter \\$depth with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:parse\\(\\) has parameter \\$json with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:parse\\(\\) has parameter \\$options with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:ref\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:ref\\(\\) has parameter \\$input with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:ref\\(\\) has parameter \\$key with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:ref\\(\\) has parameter \\$obj with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:ref\\(\\) has parameter \\$output with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:ref\\(\\) has parameter \\$set with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:ref\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:relate\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:relate\\(\\) has parameter \\$input with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:relate\\(\\) has parameter \\$known with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:relate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:stringify\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:stringify\\(\\) has parameter \\$depth with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:stringify\\(\\) has parameter \\$options with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:stringify\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:transform\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:transform\\(\\) has parameter \\$input with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:transform\\(\\) has parameter \\$known with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:transform\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:wrap\\(\\) has no return type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method Flatted\\:\\:wrap\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Method FlattedString\\:\\:__construct\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Property FlattedString\\:\\:\\$value has no type specified\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Static method Flatted\\:\\:asString\\(\\) is unused\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Static method Flatted\\:\\:wrap\\(\\) is unused\\.$#"
			count: 1
			path: web/themes/custom/books/node_modules/flatted/php/flatted.php

		-
			message: "#^Function books_form_system_theme_settings_alter\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: web/themes/custom/books/theme-settings.php
